<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

                            <!--                        -->
                            <!--   SERVLET`S CLASSES    -->
                            <!--                        -->

    <!--USER-->
    <servlet>
        <servlet-name>EnterOrOutTheSystem</servlet-name>
        <servlet-class>services.user.client.EnterOrOutTheSystem</servlet-class>
    </servlet>
    <!--ARDUINO-->
    <servlet>
        <servlet-name>AlarmInterOrOut</servlet-name>
        <servlet-class>services.arduino.client.AlarmInterOrOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterOrOutTheRoom</servlet-name>
        <servlet-class>services.arduino.client.EnterOrOutTheRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitialisationError</servlet-name>
        <servlet-class>services.arduino.client.InitialisationError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnauthorizedAccess</servlet-name>
        <servlet-class>services.arduino.client.UnauthorizedAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkError</servlet-name>
        <servlet-class>services.arduino.client.WorkError</servlet-class>
    </servlet>
    <!--ADMIN-->
    <servlet>
        <servlet-name>Employee</servlet-name>
        <servlet-class>services.admin.client.hr.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guest</servlet-name>
        <servlet-class>services.admin.client.hr.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Device</servlet-name>
        <servlet-class>services.admin.client.technical.Device</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>services.admin.client.security.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Card</servlet-name>
        <servlet-class>services.admin.client.security.Card</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Right</servlet-name>
        <servlet-class>services.admin.client.security.Right</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>services.admin.client.security.Role</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterOrOutAdmin</servlet-name>
        <servlet-class>services.admin.client.EnterOrOutAdmin</servlet-class>
    </servlet>

                            <!--                -->
                            <!--    MAPPING     -->
                            <!--                -->
    <!--USER-->
    <servlet-mapping>
        <servlet-name>EnterOrOutTheSystem</servlet-name>
        <url-pattern>/userClient/enterOrOutTheSystemLog</url-pattern>
    </servlet-mapping>
    <!--ARDUINO-->
    <servlet-mapping>
        <servlet-name>EnterOrOutTheRoom</servlet-name>
        <url-pattern>/arduinoClient/enterOrOutTheRoomLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitialisationError</servlet-name>
        <url-pattern>/arduinoClient/initialisationErrorLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmInterOrOut</servlet-name>
        <url-pattern>/arduinoClient/alarmStatusLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkError</servlet-name>
        <url-pattern>/arduinoClient/workErrorsLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnauthorizedAccess</servlet-name>
        <url-pattern>/arduinoClient/unauthorizedAccessLog</url-pattern>
    </servlet-mapping>
    <!--ADMIN-->
    <servlet-mapping>
        <servlet-name>EnterOrOutAdmin</servlet-name>
        <url-pattern>/adminClient/enterOrOutTheSessionLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Device</servlet-name>
        <url-pattern>/adminClient/technical/deviceLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guest</servlet-name>
        <url-pattern>/adminClient/reception/guestLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/adminClient/hr/employeeLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/adminClient/security/roleLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Right</servlet-name>
        <url-pattern>/adminClient/security/changeRightsLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Card</servlet-name>
        <url-pattern>/adminClient/security/cardLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/adminClient/security/accountLog</url-pattern>
    </servlet-mapping>

</web-app>